/*
 * @path /src/styles/globals.scss
 * 
 * @project videonote
 * @file globals.scss
 * 
 * @author Josh Mu <hello@joshmu.dev>
 * @created Monday, 14th September 2020
 * @modified Wednesday, 2nd December 2020 3:45:56 pm
 * @copyright © 2020 - 2020 MU
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

// playfair display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.theme-light {
  --text: #202020;
  --text2: theme('colors.gray.400');

  --bg: theme('colors.gray.50');
  --bg2: theme('colors.gray.400');
  --bgNum: 255, 255, 255;

  // https://www.colorhexa.com/4056a1
  --accent: #4056a1;
  --accent2: #c5cbe3;

  --select: rgb(112, 135, 255);
  --selectNum: 112, 135, 255;

  .neu-bg {
    @apply neu-light;
  }
  .neu-accent {
    @apply neu-light-accent;
  }
}

.theme-dark {
  --text: theme('colors.white');
  --text2: theme('colors.gray.600');
  --bg: #202020;
  --bg2: theme('colors.gray.400');
  --bgNum: 32, 32, 32;

  --accent: #ffa170;
  --accent2: #99532e;

  --select: rgb(112, 135, 255);
  --selectNum: 112, 135, 255;

  .neu-bg {
    @apply neu-dark;
  }
  .neu-accent {
    @apply neu-dark-accent;
  }
}

.theme-superhero {
  --text: theme('colors.gray.100');
  --text2: #5a5560;
  --bg: #46344e;
  --bg2: #9d8d8f;
  --bgNum: 70, 52, 78;

  --accent: #faed26;
  --accent2: rgb(250, 184, 38);

  --select: rgb(112, 135, 255);
  --selectNum: 112, 135, 255;

  .neu-bg {
    @apply neu-superhero;
  }
  .neu-accent {
    @apply neu-superhero-accent;
  }
}

.theme-hot {
  --text: #97aabd;
  --text2: rgba(100, 105, 116, 1);
  --bg: #314455;
  --bg2: #644e5b;
  --bgNum: 49, 68, 85;

  --accent: #c96567;
  --accent2: #9e5a63;

  --select: rgb(112, 135, 255);
  --selectNum: 112, 135, 255;

  .neu-bg {
    @apply neu-hot;
  }
  .neu-accent {
    @apply neu-hot-accent;
  }
}

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  input {
    caret-color: theme('colors.themeAccent');
  }

  // background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

.scrollbar {
  &::-webkit-scrollbar {
    // 1px width does not seem to work
    width: 2px;
    @apply cursor-pointer;
  }

  &::-webkit-scrollbar-track {
    @apply cursor-pointer;
    /*background: red;*/
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full cursor-pointer bg-themeAccent;
  }
}

// custom scroll-bar
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

// https://neumorphism.io/#202020
.neu-dark {
  border-radius: 0.75rem;
  background: linear-gradient(225deg, #1d1d1d, #222222);
  box-shadow: -20px 20px 60px #1b1b1b, 20px -20px 60px #252525;
}
// https://neumorphism.io/#ffa170
.neu-dark-accent {
  border-radius: 0.75rem;
  background: linear-gradient(225deg, #e69165, #ffac78);
  box-shadow: -20px 20px 60px #d9895f, 20px -20px 60px #ffb981;
}

// https://neumorphism.io/#FFFFFF
.neu-light {
  border-radius: 0.75rem;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
}
.neu-light-accent {
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #3a4d91, #445cac);
  box-shadow: 20px 20px 60px #364989, -20px -20px 60px #4a63b9;
}

.neu-superhero {
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #3f2f46, #4b3853);
  box-shadow: 20px 20px 60px #3c2c42, -20px -20px 60px #513c5a;
}
.neu-superhero-accent {
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #e1d522, #fffe29);
  box-shadow: 20px 20px 60px #d5c920, -20px -20px 60px #ffff2c;
}

.neu-hot {
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #2c3d4d, #34495b);
  box-shadow: 20px 20px 60px #2a3a48, -20px -20px 60px #384e62;
}
.neu-hot-accent {
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #b55b5d, #d76c6e);
  box-shadow: 20px 20px 60px #ab5658, -20px -20px 60px #e77476;
}
