@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: theme('colors.white');
  --light2: theme('colors.gray.600');
  --dark: #202020;
  --dark2: theme('colors.gray.400');
  --special: 255, 138, 76;
  --special_rgb: rgba(255, 138, 76, 1);
  --ripple-color: 255, 138, 76;
}

.theme-light {
  --text: var(--dark);
  --text2: var(--dark2);
  --bg: var(--light);
  --bg2: var(--light2);
  --highlight: var(--special);
}

.theme-dark {
  --text: var(--light);
  --text2: var(--light2);
  --bg: var(--dark);
  --bg2: var(--dark2);
  --highlight: var(--special);
}

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  --webkit-font-smoothing: antialiased;
  --webkit-tap-highlight-color: transparent;
}

.scrollbar {
  &::-webkit-scrollbar {
    @apply w-px cursor-pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }

  &::-webkit-scrollbar-track {
    // background-color: rgba(229, 231, 235, var(--bg-opacity));
    @apply cursor-pointer;
    /*background: red;*/
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text);
    @apply rounded-full cursor-pointer;
  }
}

// custom scroll-bar
@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
